.header {
    background-image: -webkit-linear-gradient(to bottom, #11553e, #174c27);
    background-image:    -moz-linear-gradient(to bottom, #11553e, #174c27);
    background-image:      -o-linear-gradient(to bottom, #11553e, #174c27);
    background-image:         linear-gradient(to bottom, #11553e, #174c27);
    color: white;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    flex-grow: 1; /* Allows the logo to push other elements to the side */
}

.logo img {
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

.profile-icon img,
.favorite-icon img,
.search-icon img,
.cart-icon img {
    width: 40px;
    height: auto;
    cursor: pointer;
    margin-left: 40px;
}

.search-icon img{
    width: 60px;
}

.profile-icon img:hover,
.favorite-icon img:hover,
.search-icon img:hover,
.cart-icon img:hover {
    opacity: 0.8;
}