.banner {
    background-image: url('banner.png'); /* Update with the path to your image */
    background-size: cover; /* Covers the full area of the div without stretching */
    background-position: center; /* Centers the background image */
    height: 700px; /* Adjust based on your preference */;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Assuming white text for visibility */
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 4); /* Optional: Enhances text visibility */
}

.banner h1 {
    color: white; /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 4); /* Small shadow with semi-transparency */
    margin-top: 365px;
}

.banner p {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 4); /* Slightly lighter shadow for smaller text */
    margin-top: 400px;
}